body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    display: flex;
}

#dropdown{
    width:20vw;
    margin-right: 10px;
    height:39px;
}

#searchForm{
    width: 20vw;
    height: 39px;
}